{% extends "base.twig" %}

{% set template = 'pages/errors/404' %}
{% block page_class %}404{% endblock %}

{% block content %}

    {# ⚠️ This is only an example, put your HTML/TWIG in there #}
    <section id="" class="">
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    {# ⚠️ This is only an example, put your own HTML/TWIG structure #}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
