{% set footer_classes = 'footer' %}

<div class="footer">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-12 col-lg-12 col-sm-12 justify-content-center">
                <div class="row d-flex align-items-center pt-2">
                    <div class="col-12 col-md-3 mb-3 mb-md-0">
                        <a href="{{ site.link }}"><img class="img-fluid logo-footer-white"
                                                       src="{{ Image(holder.logo_f).src }}"></a>
                    </div>
                    <div class="col-12 col-md-3 mt-2 brand-text">
                        <p>
                            <a href="https://sou-schools.com/" target="_blank" title="Sou Schools">sou-schools.com</a> -
                            <a>p.iva: 03747070245</a>
                        </p>
                    </div>
                    <div class="col-12 col-md-3 mt-2 brand-text">
                        <p>
                            <a href="https://www.noooagency.com" target="_blank" title="NOOO Agency">noooagency.com</a> -
                            <a href="https://www.noooagency.com/privacy-policy/" target="_blank" title="NOOO Agency Privacy">Privacy Policy</a>
                        </p>
                    </div>
                    <div class="col-12 col-md-3 social">
                        <a target="_blank" href="{{ options.social.instagram }}">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a target="_blank" href="{{ options.social.facebook }}">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>