{% extends 'base.twig' %}

{% set template = 'pages/privacy-policy' %}
{% block page_class %}privacy{% endblock %}

{% block content %}

    <section class="privacy-policy">
        <div class="container">
            <div class="row pt-5 pb-5">
                <div class="col-12">
                  <div>{{ post.content }}</div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
