<section id="{{ id }}" class="contact">
    <img src="/wp-content/themes/souxpadova/assets/img/icons/hero-icon-1.png" alt=""  class="img-1" />
    <img src="/wp-content/themes/souxpadova/assets/img/icons/hero-icon-2.png" alt=""  class="img-2" />
    <img src="/wp-content/themes/souxpadova/assets/img/icons/hero-icon-3.png" alt=""  class="img-3" />
    <img src="/wp-content/themes/souxpadova/assets/img/icons/hero-icon-4.png" alt=""  class="img-4" />
    <img src="/wp-content/themes/souxpadova/assets/img/icons/hero-icon-4.png" alt=""  class="img-5" />
    <img src="/wp-content/themes/souxpadova/assets/img/icons/icon-6.png" alt=""  class="img-6" />
    <div class="container text-center">
        <div class="row">
            <div class="col-12 justify-content-center">
                <h2 class="title">{{ contact.title }}</h2>
{#                <a href="#" class="mt-4 btn-default btn-blue" data-modal-target="contact-form">{{ contact.button.text }}</a>#}
                <button class="mt-4 btn-default btn-blue" data-modal-target="contact-form">{{ contact.button.text }}</button>
            </div>
        </div>
    </div>
</section>