<section id="{{ id }}" class="form">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 d-flex justify-content-center align-content-center contact-form">
                {% filter shortcodes %} [contact-form-7 id="147" title="Contact form 1"] {% endfilter %}
            </div>
        </div>
    </div>
</section>