<section id="{{ id }}" class="post-hero">
    <div class="container">
        <img src="/wp-content/themes/souxpadova/assets/img/icons/hero-icon-1.png" alt=""  class="img-1" />
        <img src="/wp-content/themes/souxpadova/assets/img/icons/hero-icon-2.png" alt=""  class="img-2" />
        <img src="/wp-content/themes/souxpadova/assets/img/icons/hero-icon-3.png" alt=""  class="img-3" />
        <img src="/wp-content/themes/souxpadova/assets/img/icons/hero-icon-4.png" alt=""  class="img-4" />
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8">
                    <p class="title mb-lg-5">{{ phero.text }}</p>
                    <h4 class="title text-uppercase mb-5 mt-2">{{ phero.title }}</h4>
            </div>
        </div>
    </div>
</section>